.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: scale-down;
    font-size: 30px;
    color: white;
    text-shadow: black 0.3em 0.3em 0.5em;
}

.englishTipsPage .container .inner-content ul li{
    font-family: "Gothic A1", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1;
    margin: 0;

}


.centered .one :hover{
    background-size:110%;
}

.centered .one :after{
    position:absolute;
    top:100%;
    bottom:0;
    left:0;
    right:0;
    white-space:pre-wrap;
    overflow:hidden;
    background-color:whitesmoke;
    color:#fff;
    padding:0 8px;
    opacity:0;
    content:attr(data-text);
    transition:0.5s;
}

.centered .one :hover:after{
    opacity:1;
    top:0;
    padding:8px;
}

.centered .one:first-line{
    color:#fff;
    font-weight:bold;
    font-size:1.5em;
}

.hvrbox,
.hvrbox * {
    box-sizing: border-box;
}
.hvrbox {
    position: relative;
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}
.hvrbox img {
    max-width: 100%;
    width:500px;
    height:350px;
    object-fit: cover;
}
.hvrbox .hvrbox-layer_bottom {
    display: block;
}
.hvrbox .hvrbox-layer_top {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 15px;
    -moz-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
    opacity: 1;
}
.hvrbox .hvrbox-text {
    text-align: left;
    font-size: 18px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.hvrbox .hvrbox-text .paragraphs {
    color: #FFFFFF;
}
.hvrbox .hvrbox-text_mobile {
    font-size: 15px;
    border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
    border-top: 1px solid rgba(179, 179, 179, 0.7);
    margin-top: 5px;
    padding-top: 2px;
    display: none;
}
.hvrbox.active .hvrbox-text_mobile {
    display: block;
}

.inner-content ul li{
    display: inline-block;
}

.inner-content{
    text-align: center;
}


#title{
    font-family: "Gothic A1", sans-serif;
    font-size: 40px;
    font-weight: bold;
    line-height: 1;
}

.work-area{
    background-color: transparent;
}

.print-button{
    font-size: 30px;
}

.volunteer{
    overflow: hidden;
    position: relative;
    display: inline-block;
    max-width: 100%;
    height: auto;
}
.volunteer img{
    cursor: pointer;
    transition: all 0.6s;
    max-width: 100%;
    width:500px;
    height:350px;
    object-fit: cover;
}
.volunteer img:hover{
    transform: scale(1.4);
}

.points-with{
    color: #000000;
    padding-left: 5%;
    padding-right: 3%;
}

.points-with ul{
    list-style-type:disc;
    float: left;

}

.point-left{
    float: left;
    margin-left: -5%;
}
.points-right{
    float: left;
    margin-left: 5%;
}
.points-right h4{
    font-size: 27px;
}
.points-right li{
    font-size: 21px;

}

.point-left h4{
    font-family: "Gothic A1", sans-serif;
    font-size: 27px;
}

.point-left ul li{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.7em;
}

.points-right h4{
    font-family: "Gothic A1", sans-serif
}
.points-right ul li{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.7em;
}

.points-with1 ul li{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.7em;

}


